<base-card>
  <base-card-title>
    <h2 class="mdl-card__title-text">近期任务</h2>
  </base-card-title>
  <base-card-body *ngIf="tasks">
    <ul class="mdl-list">
    <li class="mdl-list__item" *ngFor="let task of tasks">
      <span class="mdl-list__item-primary-content list__item-text">{{task.id.substring(0, 7)}}</span>
      <span class="mdl-list__item-primary-content list__item-text">{{task.createTime.toLocaleString()}} 提交 </span>
      <span class="mdl-list__item-primary-content list__item-text">{{task.status == 1 ? "已完成" : "进行中"}}</span>
    </li>
  </ul>
  </base-card-body>
</base-card>
